#p2{
	text-align: center;
}

.sideBar{
	position:absolute;
	width: 100px;
	height: 100%;
}

.homeIcon{
	position:absolute;
	width: 50px;
	height: 50px;
	top: 10px;
    left: 20px;
}

.zenLogo{
	height: 70px;
  	width: 70px;
}

.indexBackground{
	position:absolute;
	height: 70%;
  	width: 100%;	
}

#erreur{
	color:red;
}